<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Event page</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
</head>


<body>
    <header>
        <nav>

            <ul>
                <li>
                    <a href="/projects">See all your projects</a>
                </li>

            </ul>
        </nav>
    </header>








    <section class="formContainer">
        <form action="/addProject" method="POST">

            <label for="scrumMaster">Scrum Master</label>
            <input type="text" placeholder="Person 1" name="scrumMaster">
            <label for="teamMemberOne">First team member</label>
            <input type="text" placeholder="Person 2" name="teamMemberOne">
            <label for="teamMemberTwo">Second team member</label>
            <input type="text" placeholder="Person 3" name="teamMemberTwo">
            <label for="projectTitle">Name your project!</label>
            <input type="text" placeholder="Project Title" name="projectTitle">
            <label for="date">Completion deadline</label>
            <input type="date" name="deadline" id="dateSelect">

            <select name="projectProgress" id="projectProgressSelect">
                <option value="">--Project Progress--</option>
                <option value="high">New</option>
                <option value="low">Halfway completed</option>
                <option value="mid">Urgent</option>
            </select>
            <button type="submit">Track project!</button>
        </form>
    </section>



    <ul class="project-data">
        <% for(var i=0; i<project.length; i++) {%>



            <li class="message <%= project[i].Title %>">
                <span>
                    <%= project[i].Title %>
                </span>
                <span>

                </span>

                <span>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </span>

                <span>
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                </span>

                <form action="/updateProjectStatus" method="PUT">
                    <select name="projectProgress" id="projectProgressSelect">
                        <option value="">--Project Progress--</option>
                        <option value="new">New</option>
                        <option value="half">Halfway completed</option>
                        <option selected value="complete">completed</option>
                    </select>
                </form>

            </li>

            <% } %>
    </ul>



    <h3>Project display</h3>

    <ul class="project-data">
        <% for(var i=0; i<project.length; i++) {%>

            <li class="message <%= project[i].Title %>">
                <span>
                    <%= project[i].Title %>

                </span>
                <span>

                    <img src="<%= project[i].Poster %>" alt="<%= project[i].Title %>">
                </span>

                <span>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </span>

                <span>
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                </span>

                <select class="updateProgress" name="newProjectProgress" id="<%= project[i]._id%>">
                    <option value="">--Project Progress--</option>
                    <option <%=project[i].projectProgress==='new' ? 'selected': '' %> value="new" >New</option>
                    <option <%=project[i].projectProgress==='half' ? 'selected': '' %> value="half">Halfway completed</option>
                    <option <%=project[i].projectProgress==='complete' ? 'selected': '' %> value="complete">completed</option>
                </select>

            </li>

            <% } %>
    </ul>

    <script src="/main.js"></script>





</body>

</html>