<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>project page</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
</head>


<body>
    <header>
        <h1>Scrum project manager</h1>
    </header>








    <section class="formContainer">
        <form action="/addProject" method="POST">

            <label for="scrumMaster">Scrum Master</label>
            <input type="text" placeholder="Person 1" name="scrumMaster">
            <label for="teamMemberOne">First team member</label>
            <input type="text" placeholder="Person 2" name="teamMemberOne">
            <label for="teamMemberTwo">Second team member</label>
            <input type="text" placeholder="Person 3" name="teamMemberTwo">
            <label for="projectTitle">Name your project!</label>
            <input type="text" placeholder="Project Title" name="projectTitle">
            <label for="date">Completion deadline</label>
            <input type="date" name="deadline" id="dateSelect">

            <select name="projectProgress" id="projectProgressSelect">
                <option value="">--Project Progress--</option>
                <option value="new">New</option>
                <option value="half">Halfway completed</option>
                <option value="complete">Completed</option>
            </select>
            <button type="submit">Track project!</button>
        </form>
    </section>






    <h3>Project display, the progress of each tracked project can be updated via the drop down</h3>

    <ul class="project-data">
        <% for(var i=0; i<project.length; i++) {%>

            <li class="message <%= project[i].Title %>">
                <span id="<%= project[i]._id%>">
                    <%= project[i].projectTitle %>

                </span>
                <span>

                    <img src="<%= project[i].Poster %>" alt="<%= project[i].Title %>">
                </span>

                <span>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </span>

                <span>
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                </span>

                <select class="updateProgress" name="newProjectProgress" id="<%= project[i]._id%>">
                    <option value="">--Project Progress--</option>
                    <option <%=project[i].projectProgress==='new' ? 'selected': '' %> value="new" >New</option>
                    <option <%=project[i].projectProgress==='half' ? 'selected': '' %> value="half">Halfway completed</option>
                    <option <%=project[i].projectProgress==='complete' ? 'selected': '' %> value="complete">completed</option>
                </select>

            </li>

            <% } %>

                <table>
                    <tr>
                        <th>Project Title</th>
                        <th>Deadline</th>
                        <th>Scrum Master</th>
                        <th>Team member 1</th>
                        <th>Team member 2</th>

                        <th>Progress</th>
                        <th></th>
                        <th>Delete</th>
                    </tr>

                    <% for(var i=0; i<project.length; i++) {%>



                        <tr id="<%= project[i]._id%>">
                            <td id="<%= project[i]._id%>">
                                <%= project[i].projectTitle %>
                            </td>
                            <td>
                                <%= project[i].deadline %>
                            </td>
                            <td>
                                <%= project[i].scrumMaster %>
                            </td>
                            <td>
                                <%= project[i].teamMemberOne %>
                            </td>
                            <td>
                                <%= project[i].teamMemberTwo%>
                            </td>
                            <td>
                                <%= project[i].projectProgress %>
                            </td>



                            <td>


                                <select class="updateProgress" name="newProjectProgress" id="<%= project[i]._id%>">
                                    <option value="">--Project Progress--</option>
                                    <option <%=project[i].projectProgress==='new' ? 'selected': '' %> value="new" >New</option>
                                    <option <%=project[i].projectProgress==='half' ? 'selected': '' %> value="half">Halfway completed</option>
                                    <option <%=project[i].projectProgress==='complete' ? 'selected': '' %> value="complete">completed</option>
                                </select>

                            </td>
                            <td>
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <% } %>
                </table>


    </ul>

    <script src="/main.js"></script>





</body>

</html>